# 1.0 `About Dataset`
Context
While many public datasets (on Kaggle and the like) provide Apple App Store data, there are not many counterpart datasets available for Google Play Store apps anywhere on the web. On digging deeper, I found out that iTunes App Store page deploys a nicely indexed appendix-like structure to allow for simple and easy web scraping. On the other hand, Google Play Store uses sophisticated modern-day techniques (like dynamic page load) using JQuery making scraping more challenging.

### 1.1 Content
Each app (row) has values for catergory, rating, size, and more.

### 1.2 Acknowledgements
This information is scraped from the Google Play Store. This app information would not be available without it.

### 1.3 Inspiration
The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market!

### 1.4 Dataset link:
> The Data Set was downloaded from Kaggle, from the following [link](https://www.kaggle.com/datasets/lava18/google-play-store-apps/)

# 2.0 `Import Libraries:`

In [2]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# 3.0 `Exploring Data:`

In [3]:
# load data
df = pd.read_csv('../../datasets/googleplaystore.csv')

In [4]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [5]:
df.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [6]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10839 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

In [8]:
df.describe()

            Rating       Reviews
count  9367.000000  1.084100e+04
mean      4.191513  4.441119e+05
std       0.515735  2.927629e+06
min       1.000000  0.000000e+00
25%       4.000000  3.800000e+01
50%       4.300000  2.094000e+03
75%       4.500000  5.476800e+04
max       5.000000  7.815831e+07

## 3.11 `Observations:`

In [9]:
# showing all rows
pd.set_option('display.max_rows', None)

In [10]:
# showing unique values in each column with df.head()
df.columns.to_series().apply(lambda x: df[x].nunique())

App               9660
Category            33
Rating              39
Reviews           6001
Size               461
Installs            21
Type                 2
Price               92
Content Rating       6
Genres             119
Last Updated      1377
Current Ver       2831
Android Ver         33
dtype: int64

` Following are some anomalies in the data`
1. Rating has a maximum value of 19
2. Size has 'Varies with device',and  it should be numeric
3. Installs has '+' and ',', it should be numeric
4. Type has 'Free' and 'Paid'
5. Price has '$' and 'Everyone', it should be numeric
6. Content Rating has 'Adults only 18+' and 'Unrated'
7. Genres has ';'

# 4.0 `Exploring and Dealing with Columns:`

`What things to explore in every column of the dataset:`
1. Missing Values
2. DataType
3. Unique Values
4. Duplicates
5. Outliers
6. Distribution of data
7. Relationship between columns
8. Number of Apps in each Column(value_counts)

## 4.1 `App`:
### 4.1.1 `Exploring:`

In [11]:
df.App.isnull().sum()

0

In [12]:
df.App.nunique()

9660

In [13]:
# check for duplicates
df.duplicated().sum()

483

In [14]:
# DataType
df['App'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10841 entries, 0 to 10840
Series name: App
Non-Null Count  Dtype
--------------  -----
10841 non-null  object
dtypes: object(1)
memory usage: 84.8+ KB

In [15]:
df['App'].value_counts().sum()

10841

In [16]:
df[df.duplicated(keep=False, subset='App')].head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
23,Mcqueen Coloring pages,ART_AND_DESIGN,NaN,61,7.0M,"100,000+",Free,0,Everyone,Art & Design;Action & Adventure,"March 7, 2018",1.0.0,4.1 and up
36,UNICORN - Color By Number & Pixel Art Coloring,ART_AND_DESIGN,4.7,8145,24M,"500,000+",Free,0,Everyone,Art & Design;Creativity,"August 2, 2018",1.0.9,4.4 and up
42,Textgram - write on photos,ART_AND_DESIGN,4.4,295221,Varies with device,"10,000,000+",Free,0,Everyone,Art & Design,"July 30, 2018",Varies with device,Varies with device
139,Wattpad ðŸ“– Free Books,BOOKS_AND_REFERENCE,4.6,2914724,Varies with device,"100,000,000+",Free,0,Teen,Books & Reference,"August 1, 2018",Varies with device,Varies with device

In [17]:
df[df.duplicated(keep=False, subset='App')].tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10715,FarmersOnly Dating,DATING,3.0,1145,1.4M,"100,000+",Free,0,Mature 17+,Dating,"February 25, 2016",2.2,4.0 and up
10720,Firefox Focus: The privacy browser,COMMUNICATION,4.4,36981,4.0M,"1,000,000+",Free,0,Everyone,Communication,"July 6, 2018",5.2,5.0 and up
10730,FP Notebook,MEDICAL,4.5,410,60M,"50,000+",Free,0,Everyone,Medical,"March 24, 2018",2.1.0.372,4.4 and up
10753,Slickdeals: Coupons & Shopping,SHOPPING,4.5,33599,12M,"1,000,000+",Free,0,Everyone,Shopping,"July 30, 2018",3.9,4.4 and up
10768,AAFP,MEDICAL,3.8,63,24M,"10,000+",Free,0,Everyone,Medical,"June 22, 2018",2.3.1,5.0 and up

### 4.1.2 `Observations:`

My observations about app column are:
 1. There are 483 duplicates which are incorrect , it means that there are no duplicates in the App Column:
 2. There is no missing value
 2. There are 9660 unique values
 3. The data type is object

## 4.2 `Category`:
### 4.2.1 `Exploring:`

In [18]:
df.head(1)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up

In [19]:
df['Category'].value_counts()

Category
FAMILY                 1972
GAME                   1144
TOOLS                   843
MEDICAL                 463
BUSINESS                460
PRODUCTIVITY            424
PERSONALIZATION         392
COMMUNICATION           387
SPORTS                  384
LIFESTYLE               382
FINANCE                 366
HEALTH_AND_FITNESS      341
PHOTOGRAPHY             335
SOCIAL                  295
NEWS_AND_MAGAZINES      283
SHOPPING                260
TRAVEL_AND_LOCAL        258
DATING                  234
BOOKS_AND_REFERENCE     231
VIDEO_PLAYERS           175
EDUCATION               156
ENTERTAINMENT           149
MAPS_AND_NAVIGATION     137
FOOD_AND_DRINK          127
HOUSE_AND_HOME           88
AUTO_AND_VEHICLES        85
LIBRARIES_AND_DEMO       85
WEATHER                  82
ART_AND_DESIGN           65
EVENTS                   64
PARENTING                60
COMICS                   60
BEAUTY                   53
Name: count, dtype: int64

In [20]:
df.Category.nunique()

33

In [21]:
# Missing Values
# Dealing With Missing Values Is Compulsory
df['Category'].isnull().sum()

1

In [22]:
df.Category.duplicated().sum()

10807

In [23]:
df[df.duplicated(subset='Category', keep=False)].head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [24]:
df[df.duplicated(subset='Category', keep=False)].tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

### 4.2.2 `Observations:`

Following are my Observations about the Category Column:
1. Total categories in this dataset are 33
2. Total number of missing value is 1
3. There are no Duplicate rows, the duplicates it shows are not correct as many apps can have the same category, and there are no duplicate app in the dataset
4. Top Categories based on number of Apps are the Following:
- FAMILY     = 1972
- GAME        = 1144
- TOOLS        = 843
- MEDICAL      = 463
- BUSINESS     = 460

## 4.3 `Rating`:
### 4.3.1 `Exploring:`

In [25]:
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [26]:
df.Rating.isnull().sum()

1474

In [27]:
df['Rating'].nunique()

39

In [28]:
df['Rating'].value_counts()

Rating
4.4    1109
4.3    1076
4.5    1038
4.2     952
4.6     823
4.1     708
4.0     568
4.7     499
3.9     386
3.8     303
5.0     274
3.7     239
4.8     234
3.6     174
3.5     163
3.4     128
3.3     102
4.9      87
3.0      83
3.1      69
3.2      64
2.9      45
2.8      42
2.7      25
2.6      25
2.5      21
2.3      20
2.4      19
1.0      16
1.9      14
2.2      14
2.0      12
1.7       8
1.8       8
2.1       8
1.6       4
1.4       3
1.5       3
1.2       1
Name: count, dtype: int64

In [29]:
# number of apps with rating 4 and above
df[df['Rating'] >= 4].shape[0]

7368

In [30]:
df[(df['Rating'] < 4) & (df['Rating'] > 2)].shape[0]

1930

In [31]:
# number of apps with rating 2 and below
df[df['Rating']<=2].shape[0]

69

### 4.3.2 `Observations:`

I have done the following observations from the Rating Column:
1. Rating have 1474 Missing Values
2. Rating Column have 39 unique Values
3. Apps with rating 4 and above are `7368`
4. Apps with rating 2 to 4 are `1930`
5. Apps with rating 2 and below are `69`

## 4.4 `Reviews`:
### 4.4.1 `Exploring:`

In [32]:
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [33]:
df['Reviews'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10841 entries, 0 to 10840
Series name: Reviews
Non-Null Count  Dtype
--------------  -----
10841 non-null  int64
dtypes: int64(1)
memory usage: 84.8 KB

In [34]:
df['Reviews'].isnull().sum()

0

In [35]:
df['Reviews'].nunique()

6001

In [38]:
df[df['Reviews']>1000000].shape[0]

704

In [39]:
df[df['Reviews']>100000].shape[0]

2169

In [36]:
df[df['Reviews']>10000].shape[0]

4280

In [42]:
df[df['Reviews']<1000].shape[0]

4940

### 4.4.2 `Observations:`

I have done the following observations on Reviews column:

1. There are `no missing` values in the Reviews column.
2. The Reviews column is of the `int` data type.
3. There are` no duplicates `in the Reviews column.
4. There are `704` apps with more than 1,000,000 reviews.
5. There are `2169` apps with more than 100,000 reviews.
6. There are `4280` apps with more than 10,000 reviews.
7. There are `4940` apps with less than 1,000 reviews.

## 4.5 `Size`:
### 4.5.1 `Exploring:`

In [44]:
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [45]:
df['Size'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10841 entries, 0 to 10840
Series name: Size
Non-Null Count  Dtype
--------------  -----
10841 non-null  object
dtypes: object(1)
memory usage: 84.8+ KB

In [46]:
df['Size'].isnull().sum()

0

In [51]:
df['Size'].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '470k',
       '226k', '240k', '89k', '234k', '257k', '861k', '467k', '157k',
       '44k', '676k', '67k', '552k', '885k', '1020k', '582k', '619k'],
      dtype=object)

In [52]:
df['Size'].nunique()

461

In [53]:
df.Size.value_counts()

Size
Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
15M                    184
17M                    160
19M                    154
26M                    149
16M                    149
25M                    143
20M                    139
21M                    138
10M                    136
24M                    136
18M                    133
23M                    117
22M                    114
29M                    103
27M                     97
28M                     95
30M                     84
33M                     79
3.3M                    77
37M                     76
35M                     72
31M                     70
2.9M                    69
2.3M                    68
2.5M                    68
2.8M                    65
3.4M                    65
32M                     63
34M                     63
3.7M                    63
3.9M                    62
3.8M                    62
40M                     62
3.0M                    62
4.0M                    61
44M                     61
36M                     60
4.2M                    59
48M                     59
46M                     59
5.0M                    58
3.6M                    57
3.1M                    56
39M                     56
3.2M                    55
38M                     55
4.3M                    54
2.7M                    53
4.1M                    52
3.5M                    51
2.0M                    51
5.4M                    51
1.8M                    50
4.9M                    50
2.6M                    50
2.4M                    48
41M                     48
1.5M                    48
5.7M                    48
43M                     47
4.6M                    46
6.3M                    45
2.2M                    45
49M                     45
50M                     44
5.3M                    44
53M                     43
5.1M                    43
4.4M                    42
63M                     41
1.2M                    41
42M                     41
45M                     40
6.9M                    40
1.7M                    40
2.1M                    40
4.5M                    40
6.1M                    39
8.7M                    39
99M                     39
1.6M                    39
59M                     38
1.4M                    37
57M                     37
47M                     37
7.3M                    37
5.9M                    37
60M                     36
8.5M                    36
4.7M                    36
5.2M                    35
1.3M                    35
5.8M                    35
52M                     35
6.0M                    34
4.8M                    34
6.5M                    34
7.0M                    33
5.5M                    33
6.6M                    33
51M                     33
9.2M                    33
7.9M                    33
67M                     32
62M                     32
1.9M                    32
1.1M                    32
5.6M                    31
56M                     31
6.2M                    30
55M                     30
8.4M                    30
8.3M                    30
7.2M                    30
9.8M                    30
7.6M                    29
9.1M                    29
6.4M                    29
54M                     29
7.8M                    29
8.2M                    28
8.9M                    28
7.4M                    28
9.9M                    28
9.5M                    28
6.8M                    28
7.5M                    28
8.1M                    27
9.0M                    27
70M                     27
8.8M                    27
76M                     27
96M                     26
7.7M                    26
7.1M                    26
61M                     26
58M                     26
6.7M                    25
8.6M                    25
9.7M                    24
9.4M                    24
78M                     23
8.0M                    23
69M                     23
91M                     22
82M                     21
97M                     20
74M                     20
72M                     19
95M                     18
68M                     18
94M                     17
85M                     17
98M                     16
93M                     16
100M                    16
66M                     16
64M                     15
92M                     15
9.6M                    15
73M                     15
9.3M                    15
83M                     15
71M                     14
88M                     14
87M                     13
75M                     13
77M                     13
80M                     13
79M                     11
81M                     11
10.0M                   10
65M                     10
89M                      9
84M                      9
86M                      8
1.0M                     7
90M                      6
266k                     3
79k                      3
118k                     3
201k                     3
375k                     3
26k                      2
323k                     2
51k                      2
364k                     2
196k                     2
192k                     2
17k                      2
592k                     2
948k                     2
335k                     2
72k                      2
656k                     2
318k                     2
228k                     2
417k                     2
842k                     2
33k                      2
70k                      2
957k                     2
473k                     2
172k                     2
206k                     2
58k                      2
141k                     2
704k                     2
18k                      2
29k                      2
334k                     2
643k                     1
34k                      1
108k                     1
940k                     1
551k                     1
176k                     1
785k                     1
103k                     1
663k                     1
942k                     1
221k                     1
259k                     1
164k                     1
898k                     1
458k                     1
245k                     1
743k                     1
629k                     1
116k                     1
28k                      1
288k                     1
153k                     1
209k                     1
601k                     1
50k                      1
269k                     1
237k                     1
787k                     1
801k                     1
986k                     1
400k                     1
97k                      1
516k                     1
837k                     1
411k                     1
780k                     1
961k                     1
20k                      1
353k                     1
122k                     1
498k                     1
600k                     1
809k                     1
749k                     1
514k                     1
642k                     1
881k                     1
597k                     1
173k                     1
499k                     1
775k                     1
67k                      1
636k                     1
470k                     1
170k                     1
160k                     1
144k                     1
143k                     1
190k                     1
376k                     1
193k                     1
246k                     1
73k                      1
658k                     1
992k                     1
253k                     1
420k                     1
404k                     1
226k                     1
916k                     1
240k                     1
89k                      1
234k                     1
257k                     1
861k                     1
467k                     1
157k                     1
44k                      1
676k                     1
208k                     1
552k                     1
885k                     1
1020k                    1
582k                     1
970k                     1
39k                      1
879k                     1
161k                     1
994k                     1
309k                     1
485k                     1
914k                     1
903k                     1
608k                     1
500k                     1
54k                      1
562k                     1
847k                     1
688k                     1
811k                     1
270k                     1
48k                      1
329k                     1
523k                     1
921k                     1
874k                     1
981k                     1
784k                     1
280k                     1
24k                      1
518k                     1
754k                     1
892k                     1
154k                     1
860k                     1
387k                     1
626k                     1
913k                     1
371k                     1
82k                      1
924k                     1
746k                     1
203k                     1
314k                     1
239k                     1
220k                     1
730k                     1
756k                     1
91k                      1
293k                     1
74k                      1
14k                      1
317k                     1
78k                      1
902k                     1
540k                     1
818k                     1
81k                      1
939k                     1
169k                     1
45k                      1
475k                     1
965k                     1
545k                     1
61k                      1
283k                     1
655k                     1
714k                     1
93k                      1
313k                     1
930k                     1
27k                      1
975k                     1
23k                      1
695k                     1
556k                     1
526k                     1
232k                     1
624k                     1
8.5k                     1
41k                      1
292k                     1
11k                      1
862k                     1
899k                     1
378k                     1
980k                     1
251k                     1
696k                     1
544k                     1
525k                     1
920k                     1
779k                     1
853k                     1
720k                     1
713k                     1
772k                     1
241k                     1
857k                     1
953k                     1
865k                     1
872k                     1
121k                     1
322k                     1
437k                     1
506k                     1
887k                     1
613k                     1
243k                     1
569k                     1
778k                     1
683k                     1
319k                     1
186k                     1
840k                     1
647k                     1
191k                     1
373k                     1
598k                     1
976k                     1
716k                     1
585k                     1
982k                     1
222k                     1
219k                     1
55k                      1
691k                     1
511k                     1
951k                     1
963k                     1
25k                      1
554k                     1
351k                     1
414k                     1
816k                     1
496k                     1
728k                     1
238k                     1
549k                     1
954k                     1
444k                     1
717k                     1
210k                     1
609k                     1
308k                     1
705k                     1
306k                     1
904k                     1
175k                     1
350k                     1
383k                     1
454k                     1
421k                     1
812k                     1
442k                     1
412k                     1
459k                     1
478k                     1
782k                     1
721k                     1
430k                     1
429k                     1
200k                     1
460k                     1
619k                     1
Name: count, dtype: int64

The Value Count will be shown accurately when converted k to MB, and it is converted to numeric data type by removing M , and k

### 4.5.2 `Observations:`

`I have done the following observation on the Size column:`
1. The column has 461 unique values
2. The column has 0 missing value
3. The Column have an anomily that it should be numerical but it is object
4. It have two type of values, one in MB and other in KB, we need to convert it to single unit
5. Then we have to convert it to numeric by removing the 'k' and 'M' from the column
6. The column has 1 unique value 'Varies with device' which is not a valid value

## 4.6 `Installs`:
### 4.6.1 `Exploring:`

In [55]:
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [56]:
df.Installs.isnull().sum()

0

In [57]:
df.Installs.nunique()

21

In [58]:
df.Installs.unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0'], dtype=object)

In [59]:
df.Installs.value_counts()

Installs
1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             908
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Name: count, dtype: int64

### 4.6.2 `Observations:`

`I have done the following observations from the Installs Column:`
1. The Installs column is of object data type.
2. The Installs column has no missing values.
3. The Installs column has `21` unique values.
4. The column have anomily of that it should be numeric but it is of object datatype, so we need to convert it to numeric.
5. It have to extra things first one is ',' and the other is '+'.
6. We need to remove these extra things and convert the column to numeric.
7. The column have 21 unique values, so we need to convert it to numeric and then we can use it for analysis.

## 4.7 `Type`:
### 4.7.1 `Exploring:`

### 4.7.2 `Observations:`

## 4.8 `Price`:
### 4.8.1 `Exploring:`

### 4.8.2 `Observations:`

## 4.9 `Content Rating`:
### 4.9.1 `Exploring:`

### 4.9.2 `Observations:`

## 4.10 `Genres`:
### 4.10.1 `Exploring:`

### 4.10.2 `Observations:`

## 4.11 `Last Updated`:
### 4.11.1 `Exploring:`

### 4.11.2 `Observations:`

## 4.12 `Current Version`:
### 4.12.1 `Exploring:`

### 4.12.2 `Observations:`

## 4.13 `Andriod Version`:
### 4.13.1 `Exploring:`

### 4.13.2 `Observations:`