Start

In [1]:
# import libraries

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import plotly as pt
import plotly.express as px
import seaborn as sns

In [2]:
# import dataset

df = pd.read_csv('/workspaces/Data-Science-Learning-With-Projects/datasets/googleplaystore.csv') # when the file is two steps backward from the current directory then use this format
df.head(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10839 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

In [27]:
df.describe()

            Rating       Reviews         Price
count  9367.000000  1.084100e+04  10841.000000
mean      4.191513  4.441119e+05      1.027273
std       0.515735  2.927629e+06     15.948971
min       1.000000  0.000000e+00      0.000000
25%       4.000000  3.800000e+01      0.000000
50%       4.300000  2.094000e+03      0.000000
75%       4.500000  5.476800e+04      0.000000
max       5.000000  7.815831e+07    400.000000

In [23]:
df['Price'] = df['Price'].apply(lambda x: x.replace('$', '') if '$' in str(x) else x)

In [26]:
# convert price to numeric
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')