# 1.0 `About Dataset`
Context
While many public datasets (on Kaggle and the like) provide Apple App Store data, there are not many counterpart datasets available for Google Play Store apps anywhere on the web. On digging deeper, I found out that iTunes App Store page deploys a nicely indexed appendix-like structure to allow for simple and easy web scraping. On the other hand, Google Play Store uses sophisticated modern-day techniques (like dynamic page load) using JQuery making scraping more challenging.

### 1.1 Content
Each app (row) has values for catergory, rating, size, and more.

### 1.2 Acknowledgements
This information is scraped from the Google Play Store. This app information would not be available without it.

### 1.3 Inspiration
The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market!

### 1.4 Dataset link:
> The Data Set was downloaded from Kaggle, from the following [link](https://www.kaggle.com/datasets/lava18/google-play-store-apps/)

# 2.0 `Import Libraries:`

In [2]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# 3.0 `Exploring Data:`

In [3]:
# load data
df = pd.read_csv('../../datasets/googleplaystore.csv')

In [4]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [5]:
df.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [6]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10841 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10839 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

In [8]:
df.describe()

            Rating       Reviews
count  9367.000000  1.084100e+04
mean      4.191513  4.441119e+05
std       0.515735  2.927629e+06
min       1.000000  0.000000e+00
25%       4.000000  3.800000e+01
50%       4.300000  2.094000e+03
75%       4.500000  5.476800e+04
max       5.000000  7.815831e+07

## 3.11 `Observations:`

In [9]:
# showing all rows
pd.set_option('display.max_rows', None)

In [10]:
# showing unique values in each column with df.head()
df.columns.to_series().apply(lambda x: df[x].nunique())

App               9660
Category            33
Rating              39
Reviews           6001
Size               461
Installs            21
Type                 2
Price               92
Content Rating       6
Genres             119
Last Updated      1377
Current Ver       2831
Android Ver         33
dtype: int64

` Following are some anomalies in the data`
1. Rating has a maximum value of 19
2. Size has 'Varies with device',and  it should be numeric
3. Installs has '+' and ',', it should be numeric
4. Type has 'Free' and 'Paid'
5. Price has '$' and 'Everyone', it should be numeric
6. Content Rating has 'Adults only 18+' and 'Unrated'
7. Genres has ';'

# 4.0 `Exploring and Dealing with Columns:`

`What things to explore in every column of the dataset:`
1. Missing Values
2. DataType
3. Unique Values
4. Duplicates
5. Outliers
6. Distribution of data
7. Relationship between columns
8. Number of Apps in each Column(value_counts)

## 4.1 `App`:
### 4.1.1 `Exploring:`

In [11]:
df.App.isnull().sum()

0

In [12]:
df.App.nunique()

9660

In [13]:
# check for duplicates
df.duplicated().sum()

483

In [14]:
# DataType
df['App'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10841 entries, 0 to 10840
Series name: App
Non-Null Count  Dtype
--------------  -----
10841 non-null  object
dtypes: object(1)
memory usage: 84.8+ KB

In [15]:
df['App'].value_counts().sum()

10841

In [16]:
df[df.duplicated(keep=False, subset='App')].head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
23,Mcqueen Coloring pages,ART_AND_DESIGN,NaN,61,7.0M,"100,000+",Free,0,Everyone,Art & Design;Action & Adventure,"March 7, 2018",1.0.0,4.1 and up
36,UNICORN - Color By Number & Pixel Art Coloring,ART_AND_DESIGN,4.7,8145,24M,"500,000+",Free,0,Everyone,Art & Design;Creativity,"August 2, 2018",1.0.9,4.4 and up
42,Textgram - write on photos,ART_AND_DESIGN,4.4,295221,Varies with device,"10,000,000+",Free,0,Everyone,Art & Design,"July 30, 2018",Varies with device,Varies with device
139,Wattpad 📖 Free Books,BOOKS_AND_REFERENCE,4.6,2914724,Varies with device,"100,000,000+",Free,0,Teen,Books & Reference,"August 1, 2018",Varies with device,Varies with device

In [17]:
df[df.duplicated(keep=False, subset='App')].tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10715,FarmersOnly Dating,DATING,3.0,1145,1.4M,"100,000+",Free,0,Mature 17+,Dating,"February 25, 2016",2.2,4.0 and up
10720,Firefox Focus: The privacy browser,COMMUNICATION,4.4,36981,4.0M,"1,000,000+",Free,0,Everyone,Communication,"July 6, 2018",5.2,5.0 and up
10730,FP Notebook,MEDICAL,4.5,410,60M,"50,000+",Free,0,Everyone,Medical,"March 24, 2018",2.1.0.372,4.4 and up
10753,Slickdeals: Coupons & Shopping,SHOPPING,4.5,33599,12M,"1,000,000+",Free,0,Everyone,Shopping,"July 30, 2018",3.9,4.4 and up
10768,AAFP,MEDICAL,3.8,63,24M,"10,000+",Free,0,Everyone,Medical,"June 22, 2018",2.3.1,5.0 and up

### 4.1.2 `Observations:`

My observations about app column are:
 1. There are 483 duplicates which are incorrect , it means that there are no duplicates in the App Column:
 2. There is no missing value
 2. There are 9660 unique values
 3. The data type is object

## 4.2 `Category`:
### 4.2.1 `Exploring:`

In [18]:
df.head(1)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up

In [19]:
df['Category'].value_counts()

Category
FAMILY                 1972
GAME                   1144
TOOLS                   843
MEDICAL                 463
BUSINESS                460
PRODUCTIVITY            424
PERSONALIZATION         392
COMMUNICATION           387
SPORTS                  384
LIFESTYLE               382
FINANCE                 366
HEALTH_AND_FITNESS      341
PHOTOGRAPHY             335
SOCIAL                  295
NEWS_AND_MAGAZINES      283
SHOPPING                260
TRAVEL_AND_LOCAL        258
DATING                  234
BOOKS_AND_REFERENCE     231
VIDEO_PLAYERS           175
EDUCATION               156
ENTERTAINMENT           149
MAPS_AND_NAVIGATION     137
FOOD_AND_DRINK          127
HOUSE_AND_HOME           88
AUTO_AND_VEHICLES        85
LIBRARIES_AND_DEMO       85
WEATHER                  82
ART_AND_DESIGN           65
EVENTS                   64
PARENTING                60
COMICS                   60
BEAUTY                   53
Name: count, dtype: int64

In [20]:
df.Category.nunique()

33

In [21]:
# Missing Values
# Dealing With Missing Values Is Compulsory
df['Category'].isnull().sum()

1

In [22]:
df.Category.duplicated().sum()

10807

In [23]:
df[df.duplicated(subset='Category', keep=False)].head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [24]:
df[df.duplicated(subset='Category', keep=False)].tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

### 4.2.2 `Observations:`

Following are my Observations about the Category Column:
1. Total categories in this dataset are 33
2. Total number of missing value is 1
3. There are no Duplicate rows, the duplicates it shows are not correct as many apps can have the same category, and there are no duplicate app in the dataset
4. Top Categories based on number of Apps are the Following:
- FAMILY     = 1972
- GAME        = 1144
- TOOLS        = 843
- MEDICAL      = 463
- BUSINESS     = 460

## 4.3 `Rating`:
### 4.3.1 `Exploring:`

In [25]:
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [26]:
df.Rating.isnull().sum()

1474

In [27]:
df['Rating'].nunique()

39

In [28]:
df['Rating'].value_counts()

Rating
4.4    1109
4.3    1076
4.5    1038
4.2     952
4.6     823
4.1     708
4.0     568
4.7     499
3.9     386
3.8     303
5.0     274
3.7     239
4.8     234
3.6     174
3.5     163
3.4     128
3.3     102
4.9      87
3.0      83
3.1      69
3.2      64
2.9      45
2.8      42
2.7      25
2.6      25
2.5      21
2.3      20
2.4      19
1.0      16
1.9      14
2.2      14
2.0      12
1.7       8
1.8       8
2.1       8
1.6       4
1.4       3
1.5       3
1.2       1
Name: count, dtype: int64

In [29]:
# number of apps with rating 4 and above
df[df['Rating'] >= 4].shape[0]

7368

In [30]:
df[(df['Rating'] < 4) & (df['Rating'] > 2)].shape[0]

1930

In [31]:
# number of apps with rating 2 and below
df[df['Rating']<=2].shape[0]

69

### 4.3.2 `Observations:`

I have done the following observations from the Rating Column:
1. Rating have 1474 Missing Values
2. Rating Column have 39 unique Values
3. Apps with rating 4 and above are `7368`
4. Apps with rating 2 to 4 are `1930`
5. Apps with rating 2 and below are `69`

## 4.4 `Reviews`:
### 4.4.1 `Exploring:`

In [32]:
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [33]:
df['Reviews'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10841 entries, 0 to 10840
Series name: Reviews
Non-Null Count  Dtype
--------------  -----
10841 non-null  int64
dtypes: int64(1)
memory usage: 84.8 KB

In [34]:
df['Reviews'].isnull().sum()

0

In [35]:
df['Reviews'].nunique()

6001

In [36]:
df[df['Reviews']>1000000].shape[0]

704

In [37]:
df[df['Reviews']>100000].shape[0]

2169

In [38]:
df[df['Reviews']>10000].shape[0]

4280

In [39]:
df[df['Reviews']<1000].shape[0]

4940

### 4.4.2 `Observations:`

I have done the following observations on Reviews column:

1. There are `no missing` values in the Reviews column.
2. The Reviews column is of the `int` data type.
3. There are` no duplicates `in the Reviews column.
4. There are `704` apps with more than 1,000,000 reviews.
5. There are `2169` apps with more than 100,000 reviews.
6. There are `4280` apps with more than 10,000 reviews.
7. There are `4940` apps with less than 1,000 reviews.

## 4.5 `Size`:
### 4.5.1 `Exploring:`

In [40]:
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [41]:
df['Size'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10841 entries, 0 to 10840
Series name: Size
Non-Null Count  Dtype
--------------  -----
10841 non-null  object
dtypes: object(1)
memory usage: 84.8+ KB

In [42]:
df['Size'].isnull().sum()

0

In [43]:
df['Size'].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '470k',
       '226k', '240k', '89k', '234k', '257k', '861k', '467k', '157k',
       '44k', '676k', '67k', '552k', '885k', '1020k', '582k', '619k'],
      dtype=object)

In [44]:
df['Size'].nunique()

461

In [45]:
df.Size.value_counts()

Size
Varies with device    1695
11M                    198
12M                    196
14M                    194
13M                    191
15M                    184
17M                    160
19M                    154
26M                    149
16M                    149
25M                    143
20M                    139
21M                    138
10M                    136
24M                    136
18M                    133
23M                    117
22M                    114
29M                    103
27M                     97
28M                     95
30M                     84
33M                     79
3.3M                    77
37M                     76
35M                     72
31M                     70
2.9M                    69
2.3M                    68
2.5M                    68
2.8M                    65
3.4M                    65
32M                     63
34M                     63
3.7M                    63
3.9M                    62
3.8M                    62
40M                     62
3.0M                    62
4.0M                    61
44M                     61
36M                     60
4.2M                    59
48M                     59
46M                     59
5.0M                    58
3.6M                    57
3.1M                    56
39M                     56
3.2M                    55
38M                     55
4.3M                    54
2.7M                    53
4.1M                    52
3.5M                    51
2.0M                    51
5.4M                    51
1.8M                    50
4.9M                    50
2.6M                    50
2.4M                    48
41M                     48
1.5M                    48
5.7M                    48
43M                     47
4.6M                    46
6.3M                    45
2.2M                    45
49M                     45
50M                     44
5.3M                    44
53M                     43
5.1M                    43
4.4M                    42
63M                     41
1.2M                    41
42M                     41
45M                     40
6.9M                    40
1.7M                    40
2.1M                    40
4.5M                    40
6.1M                    39
8.7M                    39
99M                     39
1.6M                    39
59M                     38
1.4M                    37
57M                     37
47M                     37
7.3M                    37
5.9M                    37
60M                     36
8.5M                    36
4.7M                    36
5.2M                    35
1.3M                    35
5.8M                    35
52M                     35
6.0M                    34
4.8M                    34
6.5M                    34
7.0M                    33
5.5M                    33
6.6M                    33
51M                     33
9.2M                    33
7.9M                    33
67M                     32
62M                     32
1.9M                    32
1.1M                    32
5.6M                    31
56M                     31
6.2M                    30
55M                     30
8.4M                    30
8.3M                    30
7.2M                    30
9.8M                    30
7.6M                    29
9.1M                    29
6.4M                    29
54M                     29
7.8M                    29
8.2M                    28
8.9M                    28
7.4M                    28
9.9M                    28
9.5M                    28
6.8M                    28
7.5M                    28
8.1M                    27
9.0M                    27
70M                     27
8.8M                    27
76M                     27
96M                     26
7.7M                    26
7.1M                    26
61M                     26
58M                     26
6.7M                    25
8.6M                    25
9.7M                    24
9.4M                    24
78M                     23
8.0M                    23
69M                     23
91M                     22
82M                     21
97M                     20
74M                     20
72M                     19
95M                     18
68M                     18
94M                     17
85M                     17
98M                     16
93M                     16
100M                    16
66M                     16
64M                     15
92M                     15
9.6M                    15
73M                     15
9.3M                    15
83M                     15
71M                     14
88M                     14
87M                     13
75M                     13
77M                     13
80M                     13
79M                     11
81M                     11
10.0M                   10
65M                     10
89M                      9
84M                      9
86M                      8
1.0M                     7
90M                      6
266k                     3
79k                      3
118k                     3
201k                     3
375k                     3
26k                      2
323k                     2
51k                      2
364k                     2
196k                     2
192k                     2
17k                      2
592k                     2
948k                     2
335k                     2
72k                      2
656k                     2
318k                     2
228k                     2
417k                     2
842k                     2
33k                      2
70k                      2
957k                     2
473k                     2
172k                     2
206k                     2
58k                      2
141k                     2
704k                     2
18k                      2
29k                      2
334k                     2
643k                     1
34k                      1
108k                     1
940k                     1
551k                     1
176k                     1
785k                     1
103k                     1
663k                     1
942k                     1
221k                     1
259k                     1
164k                     1
898k                     1
458k                     1
245k                     1
743k                     1
629k                     1
116k                     1
28k                      1
288k                     1
153k                     1
209k                     1
601k                     1
50k                      1
269k                     1
237k                     1
787k                     1
801k                     1
986k                     1
400k                     1
97k                      1
516k                     1
837k                     1
411k                     1
780k                     1
961k                     1
20k                      1
353k                     1
122k                     1
498k                     1
600k                     1
809k                     1
749k                     1
514k                     1
642k                     1
881k                     1
597k                     1
173k                     1
499k                     1
775k                     1
67k                      1
636k                     1
470k                     1
170k                     1
160k                     1
144k                     1
143k                     1
190k                     1
376k                     1
193k                     1
246k                     1
73k                      1
658k                     1
992k                     1
253k                     1
420k                     1
404k                     1
226k                     1
916k                     1
240k                     1
89k                      1
234k                     1
257k                     1
861k                     1
467k                     1
157k                     1
44k                      1
676k                     1
208k                     1
552k                     1
885k                     1
1020k                    1
582k                     1
970k                     1
39k                      1
879k                     1
161k                     1
994k                     1
309k                     1
485k                     1
914k                     1
903k                     1
608k                     1
500k                     1
54k                      1
562k                     1
847k                     1
688k                     1
811k                     1
270k                     1
48k                      1
329k                     1
523k                     1
921k                     1
874k                     1
981k                     1
784k                     1
280k                     1
24k                      1
518k                     1
754k                     1
892k                     1
154k                     1
860k                     1
387k                     1
626k                     1
913k                     1
371k                     1
82k                      1
924k                     1
746k                     1
203k                     1
314k                     1
239k                     1
220k                     1
730k                     1
756k                     1
91k                      1
293k                     1
74k                      1
14k                      1
317k                     1
78k                      1
902k                     1
540k                     1
818k                     1
81k                      1
939k                     1
169k                     1
45k                      1
475k                     1
965k                     1
545k                     1
61k                      1
283k                     1
655k                     1
714k                     1
93k                      1
313k                     1
930k                     1
27k                      1
975k                     1
23k                      1
695k                     1
556k                     1
526k                     1
232k                     1
624k                     1
8.5k                     1
41k                      1
292k                     1
11k                      1
862k                     1
899k                     1
378k                     1
980k                     1
251k                     1
696k                     1
544k                     1
525k                     1
920k                     1
779k                     1
853k                     1
720k                     1
713k                     1
772k                     1
241k                     1
857k                     1
953k                     1
865k                     1
872k                     1
121k                     1
322k                     1
437k                     1
506k                     1
887k                     1
613k                     1
243k                     1
569k                     1
778k                     1
683k                     1
319k                     1
186k                     1
840k                     1
647k                     1
191k                     1
373k                     1
598k                     1
976k                     1
716k                     1
585k                     1
982k                     1
222k                     1
219k                     1
55k                      1
691k                     1
511k                     1
951k                     1
963k                     1
25k                      1
554k                     1
351k                     1
414k                     1
816k                     1
496k                     1
728k                     1
238k                     1
549k                     1
954k                     1
444k                     1
717k                     1
210k                     1
609k                     1
308k                     1
705k                     1
306k                     1
904k                     1
175k                     1
350k                     1
383k                     1
454k                     1
421k                     1
812k                     1
442k                     1
412k                     1
459k                     1
478k                     1
782k                     1
721k                     1
430k                     1
429k                     1
200k                     1
460k                     1
619k                     1
Name: count, dtype: int64

The Value Count will be shown accurately when converted k to MB, and it is converted to numeric data type by removing M , and k

### 4.5.2 `Observations:`

`I have done the following observation on the Size column:`
1. The column has 461 unique values
2. The column has 0 missing value
3. The Column have an anomily that it should be numerical but it is object
4. It have two type of values, one in MB and other in KB, we need to convert it to single unit
5. Then we have to convert it to numeric by removing the 'k' and 'M' from the column
6. The column has 1 unique value 'Varies with device' which is not a valid value

## 4.6 `Installs`:
### 4.6.1 `Exploring:`

In [46]:
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [47]:
df.Installs.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10841 entries, 0 to 10840
Series name: Installs
Non-Null Count  Dtype
--------------  -----
10841 non-null  object
dtypes: object(1)
memory usage: 84.8+ KB

In [48]:
df.Installs.isnull().sum()

0

In [49]:
df.Installs.nunique()

21

In [50]:
df.Installs.unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0'], dtype=object)

In [51]:
df.Installs.value_counts()

Installs
1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             908
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Name: count, dtype: int64

### 4.6.2 `Observations:`

`I have done the following observations from the Installs Column:`
1. The Installs column is of object data type.
2. The Installs column has no missing values.
3. The Installs column has `21` unique values.
4. The column have anomily of that it should be numeric but it is of object datatype, so we need to convert it to numeric.
5. It have to extra things first one is ',' and the other is '+'.
6. We need to remove these extra things and convert the column to numeric.
7. The column have 21 unique values, so we need to convert it to numeric and then we can use it for analysis.

## 4.7 `Type`:
### 4.7.1 `Exploring:`

In [52]:
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [53]:
df.Type.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10841 entries, 0 to 10840
Series name: Type
Non-Null Count  Dtype
--------------  -----
10840 non-null  object
dtypes: object(1)
memory usage: 84.8+ KB

In [54]:
df.Type.isnull().sum()

1

In [55]:
df.Type.nunique()

2

In [56]:
df.Type.unique()

array(['Free', 'Paid', nan], dtype=object)

In [57]:
df.Type.value_counts()

Type
Free    10040
Paid      800
Name: count, dtype: int64

### 4.7.2 `Observations:`

`What things to explore in every column of the dataset:`
1. Missing Values
2. DataType
3. Unique Values
4. Duplicates
5. Outliers
6. Distribution of data
7. Relationship between columns
8. Number of Apps in each Category

`I have done the following observations of the Type Column:`
1. Type column have `object` Data Type.
1. There are `2` unique values in the Type column which are `Free` and `Paid`.
2. The `Free` value has the `highest` number of counts.
3. The `Paid` value has the `lowest` number of counts.
4. There is `1` missing values in the Type column.

## 4.8 `Price`:
### 4.8.1 `Exploring:`

In [58]:
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [59]:
df.Price.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10841 entries, 0 to 10840
Series name: Price
Non-Null Count  Dtype
--------------  -----
10841 non-null  object
dtypes: object(1)
memory usage: 84.8+ KB

In [60]:
df.Price.isnull().sum()

0

In [61]:
df.Price.nunique()

92

In [62]:
df.Price.unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', '$1.20', '$1.04'], dtype=object)

In [63]:
df.Price.value_counts()

Price
0          10041
$0.99        148
$2.99        129
$1.99         73
$4.99         72
$3.99         63
$1.49         46
$5.99         30
$2.49         26
$9.99         21
$6.99         13
$399.99       12
$14.99        11
$4.49          9
$29.99         7
$24.99         7
$3.49          7
$7.99          7
$5.49          6
$19.99         6
$11.99         5
$6.49          5
$12.99         5
$8.99          5
$10.00         3
$16.99         3
$1.00          3
$2.00          3
$13.99         2
$8.49          2
$17.99         2
$1.70          2
$3.95          2
$79.99         2
$7.49          2
$9.00          2
$10.99         2
$39.99         2
$33.99         2
$1.96          1
$19.40         1
$4.80          1
$3.28          1
$4.59          1
$15.46         1
$3.04          1
$4.29          1
$2.60          1
$2.59          1
$3.90          1
$154.99        1
$4.60          1
$28.99         1
$2.95          1
$2.90          1
$1.97          1
$200.00        1
$89.99         1
$2.56          1
$1.20          1
$1.26          1
$30.99         1
$3.61          1
$394.99        1
$3.08          1
$1.61          1
$109.99        1
$46.99         1
$1.50          1
$15.99         1
$74.99         1
$3.88          1
$25.99         1
$400.00        1
$3.02          1
$1.76          1
$4.84          1
$4.77          1
$2.50          1
$1.59          1
$1.29          1
$5.00          1
$299.99        1
$379.99        1
$37.99         1
$18.99         1
$389.99        1
$19.90         1
$1.75          1
$14.00         1
$4.85          1
$1.04          1
Name: count, dtype: int64

`What things to explore in every column of the dataset:`
1. Missing Values
2. DataType
3. Unique Values
4. Duplicates
5. Outliers
6. Distribution of data
7. Relationship between columns
8. Number of Apps in each Category

### 4.8.2 `Observations:`

`I have done the following observations from the Price Column:`
1. The Price Column has `92` unique values.
2. The column have `no` missing values.
3. The column has `10041` apps with price value of `0`, which means that it is free.
4. The column is of `object` data type.
5. The column should be numeric for data analysis, so we have to remove `$` sign and convert it to `float` data type.

## 4.9 `Content Rating`:
### 4.9.1 `Exploring:`

In [64]:
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [65]:
df['Content Rating'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10841 entries, 0 to 10840
Series name: Content Rating
Non-Null Count  Dtype
--------------  -----
10841 non-null  object
dtypes: object(1)
memory usage: 84.8+ KB

In [66]:
df['Content Rating'].isnull().sum()

0

In [67]:
df['Content Rating'].nunique()

6

In [68]:
df['Content Rating'].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated'], dtype=object)

In [69]:
df['Content Rating'].value_counts()

Content Rating
Everyone           8715
Teen               1208
Mature 17+          499
Everyone 10+        414
Adults only 18+       3
Unrated               2
Name: count, dtype: int64

### 4.9.2 `Observations:`

`I have done the following observations of the 'Content Rating' Column:`
1. The column has `no` missing values.
2. The column has `6` unique values.
3. These values are `'Everyone', 'Teen', 'Everyone 10+', 'Mature 17+', 'Adults only 18+', 'Unrated'`.
4. The value '`Everyone`' has the highest frequency of `8715`.
5. The value `'Adults only 18+`' has the lowest frequency of `3`.

## 4.10 `Genres`:
### 4.10.1 `Exploring:`

In [71]:
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [72]:
df.Genres.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10841 entries, 0 to 10840
Series name: Genres
Non-Null Count  Dtype
--------------  -----
10840 non-null  object
dtypes: object(1)
memory usage: 84.8+ KB

In [73]:
df.Genres.isnull().sum()

1

In [75]:
df.Genres.nunique()

119

In [76]:
df.Genres.unique()

array(['Art & Design', 'Art & Design;Pretend Play',
       'Art & Design;Creativity', 'Art & Design;Action & Adventure',
       'Auto & Vehicles', 'Beauty', 'Books & Reference', 'Business',
       'Comics', 'Comics;Creativity', 'Communication', 'Dating',
       'Education;Education', 'Education', 'Education;Creativity',
       'Education;Music & Video', 'Education;Action & Adventure',
       'Education;Pretend Play', 'Education;Brain Games', 'Entertainment',
       'Entertainment;Music & Video', 'Entertainment;Brain Games',
       'Entertainment;Creativity', 'Events', 'Finance', 'Food & Drink',
       'Health & Fitness', 'House & Home', 'Libraries & Demo',
       'Lifestyle', 'Lifestyle;Pretend Play',
       'Adventure;Action & Adventure', 'Arcade', 'Casual', 'Card',
       'Casual;Pretend Play', 'Action', 'Strategy', 'Puzzle', 'Sports',
       'Music', 'Word', 'Racing', 'Casual;Creativity',
       'Casual;Action & Adventure', 'Simulation', 'Adventure', 'Board',
       'Trivia', 'Role Playing', 'Simulation;Education',
       'Action;Action & Adventure', 'Casual;Brain Games',
       'Simulation;Action & Adventure', 'Educational;Creativity',
       'Puzzle;Brain Games', 'Educational;Education', 'Card;Brain Games',
       'Educational;Brain Games', 'Educational;Pretend Play',
       'Entertainment;Education', 'Casual;Education',
       'Music;Music & Video', 'Racing;Action & Adventure',
       'Arcade;Pretend Play', 'Role Playing;Action & Adventure',
       'Simulation;Pretend Play', 'Puzzle;Creativity',
       'Sports;Action & Adventure', 'Educational;Action & Adventure',
       'Arcade;Action & Adventure', 'Entertainment;Action & Adventure',
       'Puzzle;Action & Adventure', 'Strategy;Action & Adventure',
       'Music & Audio;Music & Video', 'Health & Fitness;Education',
       'Adventure;Education', 'Board;Brain Games',
       'Board;Action & Adventure', 'Board;Pretend Play',
       'Casual;Music & Video', 'Role Playing;Pretend Play',
       'Entertainment;Pretend Play', 'Video Players & Editors;Creativity',
       'Card;Action & Adventure', 'Medical', 'Social', 'Shopping',
       'Photography', 'Travel & Local',
       'Travel & Local;Action & Adventure', 'Tools', 'Tools;Education',
       'Personalization', 'Productivity', 'Parenting',
       'Parenting;Music & Video', 'Parenting;Education',
       'Parenting;Brain Games', 'Weather', 'Video Players & Editors',
       'Video Players & Editors;Music & Video', 'News & Magazines',
       'Maps & Navigation', 'Health & Fitness;Action & Adventure',
       'Educational', 'Casino', 'Adventure;Brain Games',
       'Trivia;Education', 'Lifestyle;Education',
       'Books & Reference;Creativity', 'Books & Reference;Education',
       'Puzzle;Education', 'Role Playing;Education',
       'Role Playing;Brain Games', 'Strategy;Education',
       'Racing;Pretend Play', 'Communication;Creativity', nan,
       'Strategy;Creativity'], dtype=object)

In [77]:
df.Genres.value_counts()

Genres
Tools                                    842
Entertainment                            623
Education                                549
Medical                                  463
Business                                 460
Productivity                             424
Sports                                   398
Personalization                          392
Communication                            387
Lifestyle                                381
Finance                                  366
Action                                   365
Health & Fitness                         341
Photography                              335
Social                                   295
News & Magazines                         283
Shopping                                 260
Travel & Local                           257
Dating                                   234
Books & Reference                        231
Arcade                                   220
Simulation                               200
Casual                                   193
Video Players & Editors                  173
Puzzle                                   140
Maps & Navigation                        137
Food & Drink                             127
Role Playing                             109
Strategy                                 107
Racing                                    98
House & Home                              88
Libraries & Demo                          85
Auto & Vehicles                           85
Weather                                   82
Adventure                                 75
Events                                    64
Comics                                    59
Art & Design                              58
Beauty                                    53
Education;Education                       50
Card                                      48
Parenting                                 46
Board                                     44
Educational;Education                     41
Casino                                    39
Trivia                                    38
Educational                               37
Casual;Pretend Play                       31
Word                                      29
Entertainment;Music & Video               27
Education;Pretend Play                    23
Music                                     22
Casual;Action & Adventure                 21
Racing;Action & Adventure                 20
Puzzle;Brain Games                        19
Educational;Pretend Play                  19
Action;Action & Adventure                 17
Arcade;Action & Adventure                 16
Board;Brain Games                         15
Casual;Brain Games                        13
Adventure;Action & Adventure              13
Simulation;Action & Adventure             11
Entertainment;Brain Games                  8
Art & Design;Creativity                    7
Education;Creativity                       7
Casual;Creativity                          7
Role Playing;Action & Adventure            7
Parenting;Education                        7
Educational;Brain Games                    6
Education;Action & Adventure               6
Parenting;Music & Video                    6
Education;Brain Games                      5
Educational;Creativity                     5
Puzzle;Action & Adventure                  5
Role Playing;Pretend Play                  5
Education;Music & Video                    5
Educational;Action & Adventure             4
Simulation;Pretend Play                    4
Sports;Action & Adventure                  4
Entertainment;Creativity                   3
Video Players & Editors;Music & Video      3
Simulation;Education                       3
Music;Music & Video                        3
Casual;Education                           3
Board;Action & Adventure                   3
Entertainment;Action & Adventure           3
Strategy;Action & Adventure                2
Books & Reference;Education                2
Art & Design;Pretend Play                  2
Art & Design;Action & Adventure            2
Video Players & Editors;Creativity         2
Puzzle;Creativity                          2
Entertainment;Pretend Play                 2
Casual;Music & Video                       2
Adventure;Education                        2
Card;Action & Adventure                    2
Adventure;Brain Games                      1
Communication;Creativity                   1
Racing;Pretend Play                        1
Strategy;Education                         1
Role Playing;Brain Games                   1
Role Playing;Education                     1
Puzzle;Education                           1
Books & Reference;Creativity               1
Lifestyle;Education                        1
Trivia;Education                           1
Health & Fitness;Education                 1
Music & Audio;Music & Video                1
Board;Pretend Play                         1
Health & Fitness;Action & Adventure        1
Comics;Creativity                          1
Entertainment;Education                    1
Card;Brain Games                           1
Arcade;Pretend Play                        1
Parenting;Brain Games                      1
Travel & Local;Action & Adventure          1
Lifestyle;Pretend Play                     1
Tools;Education                            1
Strategy;Creativity                        1
Name: count, dtype: int64

### 4.10.2 `Observations:`

`I have done the following observations of the Genres Column`:
1. Genres Column have 1 missing Value.
2. Genres Column have 119 unique values.
3. The top 15 Genres with Values are :
   - Tools : 842
   - Entertainment : 623
   - Education : 549
   - Medical : 463
   - Business : 460
   - Productivity : 424
   - Sports : 398
   - Personalization : 392
   - Communication : 387
   - Lifestyle : 381
   - Finance : 366
   - Health & Fitness : 341
   - Photography : 335
   - Social : 295
   - News & Magazines : 283
4. The Column is Object Data Type.

## 4.11 `Last Updated`:
### 4.11.1 `Exploring:`

In [79]:
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [80]:
df['Last Updated'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10841 entries, 0 to 10840
Series name: Last Updated
Non-Null Count  Dtype
--------------  -----
10841 non-null  object
dtypes: object(1)
memory usage: 84.8+ KB

In [81]:
df['Last Updated'].isnull().sum()

0

In [82]:
df['Last Updated'].nunique()

1377

In [84]:
df['Last Updated'].value_counts()

Last Updated
August 3, 2018        326
August 2, 2018        304
July 31, 2018         294
August 1, 2018        285
July 30, 2018         211
July 25, 2018         164
July 26, 2018         161
August 6, 2018        158
July 27, 2018         151
July 24, 2018         148
July 23, 2018         127
July 16, 2018         126
July 19, 2018         126
July 18, 2018         123
July 11, 2018         106
August 4, 2018        105
July 12, 2018         103
July 5, 2018           93
July 17, 2018          92
July 3, 2018           90
July 9, 2018           89
July 20, 2018          88
July 13, 2018          81
May 24, 2018           69
July 6, 2018           63
June 27, 2018          63
June 26, 2018          60
June 25, 2018          56
May 25, 2018           56
June 13, 2018          54
July 4, 2018           53
June 29, 2018          52
July 2, 2018           52
August 5, 2018         51
July 28, 2018          51
June 21, 2018          49
June 6, 2018           49
July 10, 2018          48
June 28, 2018          46
June 19, 2018          45
May 22, 2018           44
June 20, 2018          44
June 5, 2018           43
July 29, 2018          43
June 15, 2018          43
August 7, 2018         41
June 18, 2018          40
May 23, 2018           40
June 8, 2018           38
May 29, 2018           38
June 12, 2018          37
June 11, 2018          36
June 7, 2018           35
May 31, 2018           35
May 18, 2018           35
June 14, 2018          34
May 30, 2018           34
May 21, 2018           33
July 15, 2018          33
April 26, 2018         32
May 28, 2018           30
May 15, 2018           30
July 8, 2018           30
July 21, 2018          29
June 22, 2018          28
June 1, 2018           28
March 5, 2018          28
March 6, 2018          26
July 7, 2018           26
July 22, 2018          25
May 4, 2018            25
May 10, 2018           25
February 5, 2017       24
March 16, 2018         23
April 17, 2018         23
April 23, 2018         23
July 1, 2018           22
June 9, 2018           22
February 1, 2018       21
April 9, 2018          21
March 20, 2018         21
June 4, 2018           21
June 30, 2018          21
May 17, 2018           20
March 28, 2018         20
May 9, 2018            20
April 12, 2018         20
April 3, 2018          20
April 11, 2018         20
April 13, 2018         19
March 26, 2018         19
April 27, 2018         19
April 5, 2018          19
March 13, 2018         19
May 2, 2018            19
March 29, 2018         19
January 17, 2018       19
May 3, 2018            19
April 18, 2018         18
March 23, 2018         18
March 27, 2018         17
March 30, 2018         17
February 9, 2018       17
November 21, 2017      17
September 21, 2017     16
December 20, 2017      16
January 31, 2018       16
October 12, 2017       16
July 14, 2018          16
January 2, 2018        16
September 27, 2017     16
January 9, 2018        16
February 15, 2018      16
September 20, 2017     16
February 16, 2018      16
April 25, 2018         16
April 2, 2018          16
March 9, 2018          16
February 6, 2018       15
January 22, 2018       15
December 21, 2017      15
April 19, 2018         15
March 22, 2018         15
April 20, 2018         15
May 16, 2018           15
February 26, 2018      15
May 14, 2018           15
February 7, 2018       15
January 19, 2018       15
March 14, 2018         15
April 6, 2018          15
April 10, 2018         15
February 21, 2018      15
May 8, 2018            15
February 23, 2018      14
October 18, 2017       14
April 16, 2018         14
March 14, 2017         14
February 27, 2018      14
November 10, 2017      14
February 13, 2018      14
March 19, 2018         14
August 17, 2017        14
May 26, 2018           14
December 8, 2017       14
April 4, 2018          14
October 9, 2017        14
March 17, 2018         13
February 20, 2018      13
May 6, 2018            13
December 14, 2017      13
May 20, 2018           13
March 15, 2017         13
May 19, 2018           13
January 23, 2018       13
January 24, 2018       13
January 30, 2018       13
December 18, 2017      13
November 29, 2017      13
April 24, 2018         13
March 15, 2018         12
October 31, 2017       12
May 12, 2018           12
January 3, 2018        12
February 14, 2018      12
January 29, 2018       12
June 2, 2018           12
January 25, 2018       12
February 19, 2018      12
March 31, 2018         12
May 1, 2018            12
October 27, 2017       11
April 30, 2018         11
May 9, 2017            11
March 8, 2018          11
November 3, 2017       11
October 10, 2017       11
November 7, 2017       11
December 19, 2017      11
November 14, 2017      11
October 26, 2017       11
March 21, 2018         11
December 13, 2017      11
June 24, 2018          11
November 6, 2017       11
September 12, 2017     11
January 5, 2018        11
February 28, 2018      11
December 5, 2017       10
August 31, 2017        10
August 23, 2017        10
March 10, 2018         10
July 17, 2017          10
March 1, 2018          10
December 11, 2017      10
June 7, 2017           10
July 7, 2017           10
April 22, 2018         10
November 30, 2016      10
December 22, 2017      10
June 10, 2018          10
May 7, 2018            10
May 27, 2018           10
December 7, 2017       10
November 22, 2017      10
December 24, 2017      10
December 25, 2017      10
December 1, 2017       10
March 12, 2018         10
January 6, 2018        10
December 4, 2017       10
January 15, 2018       10
July 13, 2017          10
February 2, 2018       10
June 16, 2018           9
September 19, 2017      9
May 11, 2018            9
March 23, 2017          9
February 24, 2018       9
February 25, 2018       9
November 24, 2017       9
January 14, 2018        9
April 12, 2017          9
August 10, 2017         9
February 17, 2017       9
December 26, 2017       9
October 6, 2017         9
November 1, 2017        9
February 12, 2018       9
July 22, 2016           9
January 12, 2018        9
January 20, 2018        9
March 7, 2018           9
November 13, 2017       8
August 2, 2017          8
January 4, 2018         8
May 5, 2018             8
February 9, 2017        8
August 30, 2017         8
June 3, 2018            8
December 27, 2017       8
October 19, 2017        8
October 3, 2017         8
October 16, 2017        8
August 9, 2017          8
November 2, 2017        8
October 25, 2017        8
July 29, 2017           8
May 17, 2017            8
December 29, 2017       8
November 27, 2017       8
June 23, 2018           8
January 18, 2018        8
January 26, 2018        8
August 14, 2017         8
November 23, 2017       8
August 29, 2017         8
November 8, 2017        8
February 21, 2017       8
October 5, 2017         8
September 14, 2017      8
May 13, 2018            8
May 15, 2017            8
January 10, 2018        8
June 8, 2016            8
July 10, 2017           8
November 28, 2017       8
January 27, 2017        7
November 7, 2016        7
June 1, 2017            7
November 20, 2017       7
August 21, 2017         7
October 24, 2017        7
February 17, 2018       7
October 2, 2017         7
February 11, 2018       7
April 29, 2018          7
October 30, 2017        7
November 16, 2017       7
January 8, 2018         7
May 30, 2017            7
September 22, 2017      7
May 8, 2017             7
August 28, 2017         7
February 2, 2017        7
May 3, 2017             7
November 9, 2017        7
November 15, 2017       7
April 15, 2018          7
March 2, 2018           7
October 20, 2017        7
October 17, 2017        7
January 16, 2017        7
March 18, 2018          7
March 3, 2018           7
February 22, 2018       7
May 19, 2015            7
March 24, 2018          7
May 29, 2017            7
February 5, 2018        7
May 18, 2017            7
June 29, 2016           7
April 28, 2018          7
October 4, 2017         6
July 8, 2016            6
March 7, 2017           6
February 27, 2017       6
November 22, 2016       6
October 23, 2017        6
October 7, 2016         6
September 26, 2017      6
July 28, 2017           6
October 15, 2017        6
November 30, 2017       6
January 7, 2018         6
September 7, 2017       6
June 18, 2017           6
April 26, 2017          6
July 24, 2017           6
September 20, 2016      6
January 23, 2017        6
September 25, 2017      6
October 20, 2016        6
July 15, 2016           6
June 27, 2017           6
January 19, 2017        6
April 7, 2018           6
December 28, 2017       6
January 8, 2017         6
July 25, 2017           6
September 1, 2017       6
December 21, 2016       6
December 25, 2016       6
June 2, 2017            6
November 19, 2017       6
November 17, 2017       6
March 1, 2017           6
February 23, 2017       6
August 1, 2017          6
August 9, 2016          6
August 22, 2017         6
August 24, 2017         6
September 5, 2017       6
December 15, 2017       6
February 4, 2018        6
September 27, 2016      6
December 23, 2016       6
February 10, 2018       6
January 16, 2018        6
September 29, 2016      6
March 3, 2017           6
October 30, 2015        6
August 11, 2017         5
October 18, 2016        5
June 6, 2017            5
April 5, 2017           5
January 9, 2017         5
August 18, 2016         5
June 22, 2016           5
April 1, 2018           5
January 25, 2016        5
May 10, 2017            5
June 21, 2016           5
September 13, 2017      5
October 25, 2016        5
June 16, 2017           5
December 16, 2015       5
July 26, 2015           5
March 2, 2017           5
October 19, 2016        5
October 7, 2017         5
October 28, 2017        5
April 28, 2017          5
December 22, 2016       5
May 12, 2017            5
May 11, 2017            5
May 1, 2017             5
October 13, 2016        5
March 14, 2015          5
September 15, 2017      5
December 7, 2016        5
October 26, 2016        5
May 4, 2017             5
June 13, 2016           5
September 8, 2017       5
September 6, 2016       5
November 28, 2016       5
March 21, 2017          5
July 26, 2016           5
April 6, 2017           5
November 1, 2016        5
April 25, 2017          5
June 30, 2016           5
September 24, 2015      5
June 29, 2017           5
July 22, 2017           5
March 8, 2017           5
December 3, 2017        5
July 18, 2017           5
March 25, 2018          5
June 18, 2015           5
April 11, 2017          5
January 26, 2017        5
June 5, 2017            5
September 28, 2017      5
July 12, 2017           5
February 3, 2018        5
March 11, 2017          5
April 23, 2017          5
February 22, 2017       5
May 31, 2017            5
March 14, 2016          5
August 20, 2017         5
October 21, 2017        5
February 1, 2017        5
February 3, 2017        5
July 14, 2017           5
March 22, 2017          5
December 12, 2017       5
August 4, 2017          5
October 2, 2016         5
August 8, 2018          5
July 19, 2016           5
December 1, 2016        5
October 11, 2017        5
June 13, 2017           5
January 31, 2017        5
August 3, 2017          5
October 3, 2016         5
July 31, 2017           5
August 12, 2017         5
January 21, 2018        5
December 22, 2015       5
December 6, 2017        5
March 28, 2017          5
March 11, 2018          5
September 30, 2016      4
June 15, 2017           4
January 24, 2017        4
January 4, 2017         4
December 31, 2017       4
July 23, 2017           4
November 16, 2016       4
February 28, 2017       4
May 12, 2016            4
June 9, 2016            4
June 17, 2016           4
May 4, 2016             4
June 1, 2016            4
June 11, 2015           4
December 10, 2017       4
January 1, 2018         4
June 28, 2015           4
July 6, 2017            4
May 27, 2016            4
March 4, 2018           4
November 13, 2015       4
April 4, 2017           4
April 21, 2018          4
January 13, 2018        4
October 24, 2016        4
August 8, 2017          4
December 31, 2016       4
March 20, 2017          4
April 21, 2016          4
July 19, 2017           4
December 30, 2017       4
June 17, 2018           4
September 11, 2015      4
October 27, 2016        4
February 25, 2016       4
July 23, 2016           4
September 2, 2015       4
October 17, 2014        4
April 28, 2016          4
June 8, 2017            4
July 30, 2015           4
April 1, 2016           4
May 27, 2015            4
August 20, 2015         4
November 21, 2016       4
September 16, 2016      4
January 21, 2017        4
April 22, 2016          4
September 13, 2016      4
July 28, 2016           4
July 5, 2017            4
August 4, 2016          4
June 26, 2017           4
September 1, 2015       4
April 1, 2017           4
November 3, 2016        4
May 16, 2017            4
December 16, 2017       4
January 11, 2018        4
September 12, 2016      4
February 25, 2017       4
August 28, 2015         4
August 15, 2017         4
June 28, 2017           4
October 17, 2016        4
October 8, 2015         4
June 17, 2015           4
July 3, 2017            4
December 15, 2016       4
April 3, 2017           4
October 5, 2016         4
August 5, 2016          4
December 26, 2016       4
August 24, 2015         4
June 16, 2016           4
July 21, 2016           4
June 3, 2017            4
October 28, 2016        4
August 18, 2017         4
September 18, 2017      4
April 18, 2017          4
October 21, 2016        4
January 5, 2017         4
February 6, 2017        4
February 26, 2017       4
April 27, 2017          4
March 6, 2017           4
April 22, 2017          4
April 19, 2017          4
June 20, 2017           4
January 24, 2016        4
July 5, 2016            4
September 29, 2017      4
March 17, 2017          4
December 6, 2016        4
June 25, 2017           4
August 11, 2015         4
March 16, 2017          4
February 8, 2017        4
March 27, 2015          4
April 22, 2014          4
June 24, 2015           4
February 3, 2016        4
February 11, 2015       4
January 6, 2017         4
October 8, 2016         4
January 12, 2017        4
February 24, 2017       4
July 7, 2016            4
March 12, 2015          4
June 21, 2017           4
November 15, 2014       3
May 25, 2015            3
July 9, 2017            3
April 8, 2018           3
August 25, 2015         3
February 24, 2016       3
September 11, 2017      3
December 12, 2016       3
July 28, 2015           3
June 5, 2014            3
September 10, 2016      3
December 16, 2016       3
March 4, 2015           3
December 15, 2014       3
April 10, 2016          3
January 15, 2016        3
September 21, 2016      3
May 6, 2013             3
April 20, 2015          3
January 14, 2017        3
December 2, 2016        3
August 12, 2016         3
October 13, 2015        3
June 12, 2017           3
November 9, 2015        3
July 26, 2017           3
February 22, 2016       3
May 26, 2016            3
June 4, 2015            3
October 13, 2017        3
June 30, 2017           3
September 28, 2013      3
September 6, 2015       3
March 30, 2017          3
August 16, 2017         3
October 21, 2015        3
September 5, 2015       3
April 3, 2015           3
June 19, 2017           3
December 10, 2016       3
March 4, 2016           3
November 15, 2016       3
November 14, 2015       3
March 18, 2016          3
January 22, 2014        3
July 13, 2016           3
February 4, 2017        3
January 17, 2017        3
December 23, 2015       3
March 10, 2017          3
February 12, 2017       3
April 29, 2017          3
May 16, 2016            3
June 9, 2017            3
March 11, 2014          3
March 10, 2016          3
March 1, 2016           3
November 11, 2016       3
August 15, 2016         3
May 26, 2017            3
May 5, 2017             3
May 23, 2017            3
March 31, 2017          3
October 5, 2015         3
November 20, 2014       3
May 2, 2017             3
December 13, 2013       3
May 26, 2014            3
September 17, 2015      3
December 28, 2015       3
January 8, 2015         3
June 15, 2016           3
August 12, 2014         3
March 22, 2016          3
January 19, 2016        3
May 24, 2017            3
May 30, 2016            3
December 14, 2016       3
August 13, 2015         3
February 18, 2017       3
December 21, 2015       3
June 13, 2014           3
July 6, 2015            3
December 19, 2016       3
November 11, 2015       3
July 4, 2017            3
October 26, 2015        3
February 14, 2017       3
October 20, 2015        3
July 1, 2016            3
May 22, 2017            3
November 26, 2017       3
April 2, 2015           3
December 4, 2015        3
February 12, 2016       3
November 5, 2013        3
August 21, 2014         3
November 17, 2016       3
February 3, 2015        3
June 3, 2016            3
January 3, 2017         3
October 15, 2015        3
March 27, 2017          3
August 26, 2016         3
November 21, 2014       3
August 22, 2015         3
May 4, 2015             3
July 29, 2015           3
July 4, 2016            3
August 23, 2016         3
April 30, 2014          3
October 23, 2016        3
July 18, 2016           3
March 5, 2017           3
October 17, 2015        3
February 10, 2015       3
November 2, 2016        3
February 15, 2017       3
December 20, 2016       3
July 29, 2016           3
July 11, 2017           3
October 12, 2016        3
August 27, 2016         3
July 16, 2017           3
February 18, 2018       3
September 15, 2015      3
June 24, 2014           3
March 2, 2016           3
August 24, 2016         3
August 7, 2016          3
September 14, 2016      3
May 26, 2015            3
December 2, 2017        3
July 16, 2015           3
March 17, 2015          3
November 12, 2017       3
May 30, 2015            3
April 25, 2016          3
November 18, 2017       3
July 21, 2017           3
August 31, 2016         3
January 10, 2017        3
November 26, 2015       3
April 21, 2017          3
January 18, 2015        3
December 7, 2015        3
February 8, 2018        3
December 9, 2014        3
September 30, 2017      3
June 17, 2017           3
February 9, 2016        3
March 15, 2016          3
February 5, 2016        3
September 10, 2017      3
September 3, 2015       3
October 22, 2017        3
December 23, 2017       3
February 2, 2016        3
December 17, 2017       3
December 8, 2016        3
March 26, 2017          3
October 6, 2016         3
March 5, 2015           3
January 13, 2017        3
November 25, 2017       2
October 16, 2016        2
October 12, 2015        2
April 14, 2016          2
March 6, 2015           2
October 2, 2014         2
March 30, 2015          2
November 30, 2014       2
March 11, 2015          2
September 7, 2015       2
November 5, 2016        2
April 8, 2017           2
May 23, 2016            2
July 1, 2013            2
August 7, 2014          2
August 8, 2015          2
December 3, 2014        2
July 16, 2016           2
February 7, 2016        2
July 23, 2014           2
October 22, 2014        2
August 18, 2015         2
July 18, 2014           2
May 17, 2016            2
September 22, 2016      2
July 15, 2015           2
October 27, 2015        2
December 30, 2016       2
January 29, 2016        2
September 21, 2015      2
December 17, 2016       2
January 30, 2016        2
September 8, 2016       2
August 15, 2013         2
September 4, 2017       2
January 27, 2016        2
November 12, 2015       2
November 10, 2016       2
June 23, 2017           2
December 18, 2015       2
February 19, 2016       2
January 19, 2015        2
April 9, 2012           2
November 5, 2017        2
March 19, 2017          2
February 16, 2017       2
June 10, 2017           2
December 9, 2017        2
May 8, 2015             2
November 26, 2014       2
November 29, 2016       2
August 16, 2016         2
November 19, 2015       2
September 17, 2016      2
November 14, 2014       2
November 9, 2016        2
May 22, 2013            2

### 4.11.2 `Observations:`

`I have done the following Observations of the Last Updated Column`:
1. The Last Updated column is in `object` data type.
2. The Last Updated column has `no` missing values.
3. The Last Updated column has `1377` unique values.
4. Most of the Apps are lastly updated from `july 2018` to `august 2018`.
5. The Last Updated column has some Apps that were lastly updated between `2013 - 2015.`

## 4.12 `Current Version`:
### 4.12.1 `Exploring:`

### 4.12.2 `Observations:`

## 4.13 `Andriod Version`:
### 4.13.1 `Exploring:`

### 4.13.2 `Observations:`