<div style="background-color:#FAF3F3; padding: 20px; border-radius: 10px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); border:2px solid #E57373; margin-top: 20px;">
    <h1 style="font-size:24px; font-family:Georgia, serif; color:#D32F2F; text-align: center; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
        Credit Card Fraud Detection: Model Training and Analysis
    </h1>
</div>

<div style="background-color:#E6F9E6; padding: 20px; border-radius: 10px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); border:2px solid #66C2A5; margin-top: 20px;">
    <h1 style="font-size:24px; font-family:Georgia, serif; color:#4A90E2; text-align: center; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
        About Author
    </h1>
    <div style="text-align:center;">
        <a href="https://www.sak.kesug.com">
            <img src="https://media.licdn.com/dms/image/v2/D4D03AQEsEJ_gVNnU3w/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1720678393429?e=2147483647&v=beta&t=RALfVAKvT6TmP2BBpil_CGzZK5L5ykNUou5yModXTVw" style="width: 20%; border-radius: 50%;" alt="Shaheer Ali">
        </a>
    </div>
    <h2 style="font-size:20px; font-family:Georgia, serif; color:#333; text-align:center;">Mr. Shaheer Ali</h2>
    <p style="font-size:16px; font-family:Georgia, serif; line-height: 1.5em; text-align:center; color:#333;">
        <em>Data Scientist / ML Engineer</em><br>
        BS Computer Science
    </p>
    <div style="text-align:center; margin-top: 10px;">
        <a href="https://www.youtube.com/channel/UCUTphw52izMNv9W6AOIFGJA">
            <img width="50" height="50" src="https://img.icons8.com/color/48/youtube-play.png" alt="youtube-play">
        </a>
        <a href="https://twitter.com/__shaheerali190">
            <img width="50" height="50" src="https://img.icons8.com/dotty/80/x.png" alt="x">
        </a>
        <a href="https://www.linkedin.com/in/shaheer-ali-2761aa303/">
            <img width="50" height="50" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin">
        </a>
        <a href="https://github.com/shaheeralics">
            <img width="50" height="50" src="https://img.icons8.com/ios-glyphs/50/github.png" alt="github">
        </a>
        <a href="https://www.kaggle.com/shaheerali197">
            <img width="50" height="50" src="https://img.icons8.com/clouds/100/kaggle.png" alt="kaggle">
        </a>
    </div>
    <div style="text-align:center; margin-top: 20px;">
        <a href="https://www.sak.kesug.com" style="font-size:18px; font-family:Georgia, serif; color:#4A90E2; text-decoration:none; border:2px solid #4A90E2; padding: 5px 15px; border-radius: 5px;">
            Portfolio Site
        </a>
    </div>
</div>

<div style="background-color:#D0E6F3; padding: 12px; border-radius: 10px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); border:2px solid #66C2A5; margin-top: 12px;">
    <h1 style="font-size:28px; font-family:Georgia, serif; color:#000000; text-align: center; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
        Importing Libraries
    </h1>
</div>

In [2]:
# importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# importing Classification models from sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

# importing necessary libraries for model evaluation
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.metrics import roc_curve
from sklearn.metrics import auc
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import average_precision_score

<div style="background-color:#D0E6F3; padding: 12px; border-radius: 10px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); border:2px solid #66C2A5; margin-top: 12px;">
    <h1 style="font-size:28px; font-family:Georgia, serif; color:#000000; text-align: center; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
        Loading Dataset
    </h1>
</div>

In [13]:
#importing dataset which is avail in 6 different files
df = pd.DataFrame()
for i in range(1, 6):
    df = pd.concat([df, pd.read_csv(f"df = pd.read_csv('../../../../datasets/Projects/Credit Card/credit_card_transactions{i}.csv")], axis=0)

In [16]:
# saving the dataset to a csv file
df.to_csv('credit_card_transactions.csv', index=False)

<div style="background-color:#D0E6F3; padding: 12px; border-radius: 10px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); border:2px solid #66C2A5; margin-top: 12px;">
    <h1 style="font-size:28px; font-family:Georgia, serif; color:#000000; text-align: center; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);">
        Exploratory Data Analysis
    </h1>
</div>

In [25]:
# showing max clolumns
pd.set_option('display.max_columns', None)

In [26]:
# mid of the df like df.tail() etc
df.sample(5)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,state,zip,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud,merch_zipcode
148826,581050,2019-09-02 22:30:28,4809701904914,fraud_Spencer PLC,entertainment,141.90,Sabrina,Nolan,F,312 Eric Expressway Apt. 014,Phenix City,AL,36869,32.4204,-85.0796,59744,Chemical engineer,1984-02-07,5b58f16ee122c851480a594e92280473,1346625028,32.635969,-85.844697,0,36078.0
140504,140504,2019-03-17 16:53:04,30092964733035,fraud_Gaylord-Powlowski,home,32.89,Jessica,Terry,F,6412 Elizabeth Gardens Suite 633,Maysville,KY,41056,38.6207,-83.8067,14228,Advertising account executive,1971-03-26,2230ac808ea260eef372e89d13335c73,1332003184,39.048156,-84.721987,0,41005.0
147322,579546,2019-09-02 13:22:00,567868110212,"fraud_Goyette, Howell and Collier",shopping_pos,28.73,Dawn,Tucker,F,789 Herring Manors,Houston,TX,77007,29.7736,-95.4034,2906700,"Copywriter, advertising",1984-12-16,3f2ef663ffcdf44b861617cd7a13a658,1346592120,29.939293,-96.059766,0,NaN
211577,859913,2019-12-17 05:48:55,4836998673805450,fraud_Kerluke Inc,misc_net,1.17,Susan,Hardy,F,516 Brown Parks,Manistique,MI,49854,46.0062,-86.2555,6469,Trade mark attorney,1979-04-12,03d5c81835bf830b19f21bef373307d9,1355723335,46.112716,-85.910080,0,49836.0
201580,1066028,2020-03-18 02:25:48,345933964507467,fraud_Welch Inc,misc_net,8.98,Carol,Dillon,F,27479 Reeves Dale,Whaleyville,MD,21872,38.4121,-75.2811,718,Regulatory affairs officer,1985-03-19,68a4edc4b658af45f751c1bcd0b40a4d,1363573548,37.697296,-76.279104,0,22482.0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1080560 entries, 0 to 216111
Data columns (total 24 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1080560 non-null  int64
 1   trans_date_trans_time  1080560 non-null  object
 2   cc_num                 1080560 non-null  int64
 3   merchant               1080560 non-null  object
 4   category               1080560 non-null  object
 5   amt                    1080560 non-null  float64
 6   first                  1080560 non-null  object
 7   last                   1080560 non-null  object
 8   gender                 1080560 non-null  object
 9   street                 1080560 non-null  object
 10  city                   1080560 non-null  object
 11  state                  1080560 non-null  object
 12  zip                    1080560 non-null  int64
 13  lat                    1080560 non-null  float64
 14  long                   1080560 non-null  float64
 15  city_pop               1080560 non-null  int64
 16  job                    1080560 non-null  object
 17  dob                    1080560 non-null  object
 18  trans_num              1080560 non-null  object
 19  unix_time              1080560 non-null  int64
 20  merch_lat              1080560 non-null  float64
 21  merch_long             1080560 non-null  float64
 22  is_fraud               1080560 non-null  int64
 23  merch_zipcode          917292 non-null   float64
dtypes: float64(6), int64(6), object(12)
memory usage: 206.1+ MB

In [17]:
df.nunique()

Unnamed: 0               1080560
trans_date_trans_time    1062107
cc_num                       967
merchant                     693
category                      14
amt                        49256
first                        349
last                         479
gender                         2
street                       967
city                         880
state                         51
zip                          954
lat                          952
long                         953
city_pop                     866
job                          493
dob                          952
trans_num                1080560
unix_time                1062139
merch_lat                1046446
merch_long               1065948
is_fraud                       2
merch_zipcode              28250
dtype: int64

In [28]:
df.shape

(1080560, 24)

In [30]:
# checking the missing values
df.isnull().sum()/len(df)*100

Unnamed: 0                0.000000
trans_date_trans_time     0.000000
cc_num                    0.000000
merchant                  0.000000
category                  0.000000
amt                       0.000000
first                     0.000000
last                      0.000000
gender                    0.000000
street                    0.000000
city                      0.000000
state                     0.000000
zip                       0.000000
lat                       0.000000
long                      0.000000
city_pop                  0.000000
job                       0.000000
dob                       0.000000
trans_num                 0.000000
unix_time                 0.000000
merch_lat                 0.000000
merch_long                0.000000
is_fraud                  0.000000
merch_zipcode            15.109573
dtype: float64

As merch_zipcode can not be replaced with mean median mode, so we will drop the missing values

In [41]:
# removing the missing values of merch_zipcode
df = df.dropna(subset=['merch_zipcode'])

In [42]:
# checking the missing values again
df.isnull().sum()/len(df)*100

Unnamed: 0               0.0
trans_date_trans_time    0.0
cc_num                   0.0
merchant                 0.0
category                 0.0
amt                      0.0
first                    0.0
last                     0.0
gender                   0.0
street                   0.0
city                     0.0
state                    0.0
zip                      0.0
lat                      0.0
long                     0.0
city_pop                 0.0
job                      0.0
dob                      0.0
trans_num                0.0
unix_time                0.0
merch_lat                0.0
merch_long               0.0
is_fraud                 0.0
merch_zipcode            0.0
dtype: float64

Checking the shape of dataset after removing the missing values

In [43]:
df.shape

(917292, 24)

Checking for Duplicates

In [44]:
# Checking for Duplicates
df.duplicated().sum()

0

It means there are no duplicates in the Dataset